name: SCP Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'myridiax'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: SCP files to server
        run: |
          echo "list folder" 
          ls ~/.ssh 
          echo "scp README.md"
          scp README.md root@${{ secrets.SERVER_HOST }}:/opt/
          # scp -r ./your-folder \
          #  ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/path/on/server

